<h1>Inregistrare</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label "Parola" %><br />
		<%= f.password_field :password %>
	</div>
	<div class="actions">
		<%= f.submit "Inregistrare" %>
	</div>
<% end %>
<p>Esti utilizator nou? <%= link_to "Inscrie-te acum!", signup_path %></p>