<h1>Înregistrare</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label "Parolă" %><br />
		<%= f.password_field :password %>
	</div>
	<div class="actions">
		<%= f.submit "Înregistrare" %>
	</div>
<% end %>
<p>Ești utilizator nou? <%= link_to "Înscrie-te acum!", signup_path %></p>